<div class="page-header">
  <%= link_to tpersonas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h1>Nuevo Tipo de persona</h1>
</div>

<%= render 'form' %>
