<div class="page-header">
  <%= link_to tpersonas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_tpersona_path(@tpersona), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Tipo de persona</h1>
</div>

<dl class="dl-horizontal">
  <dt>Tipo:</dt>
  <dd><%= @tpersona.tipo %></dd>

</dl>
